
.centrar{
	margin-left:auto;
	margin-right:auto;
   	position: absolute;
		top:40%;
		left:50%;
		width:auto;
		height:auto;
		margin-left:-200px;
		margin-top:-200px;
		border:1px solid #8080;
		padding:0px;
}
.aling-izq{
margin-left:auto;
	margin-right:auto;
   	position: absolute;
		top:10%;
		left:5%;
}

.objetos{
	width: 200px;
	height: 150px;
}





  
  
  
  button{
	 display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

input[type=text]{
   width: 80%;
    padding: 12px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;      
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
